@import "../../theme";

.loveOffer{
  background-color: $primaryColor;
  min-width: $sectionSize;

  min-height: 450px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;

  >*{
    margin: 0 24px;
  }

  .firstColumn{

    .title{
      max-width: 275px;
      font-size: $h2FontSize;
      line-height: $h2FontSize * .75;
      font-weight: 100;

      margin: 0;
    }

    .text{
      font-size: .8rem;
      max-width: 400px;
    }
  }
}
