@import "../../theme";

.tentHistory {
  background: $accentColor;
  padding: 40px 0;
  display: flex;
  justify-content: center;

  max-height: 800px;

  .content {
    max-width: $sectionSize;

    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    color: white;
    img{
      height: 260px;
    }

    .title{
      font-size: $h2FontSize;
      line-height: $h2FontSize * .8;

      max-width: $sectionSize / 1.5;

      font-weight: 100;
    }

    p{
      max-width: calc(#{$sectionSize / 2} - 30px);
      white-space: pre-line;
      text-align: justify;
      font-size: 13.5px;
    }
  }
}
