$sectionSize: 35vw;

$primaryColor: #430e93;
$primaryColorDark: #3c0d84;
$accentColor: #d96a6a;
$accentColorLighter: #e69497;
$thirdColor: #ffb71d;

$h1FontSize: 80px;
$h2FontSize: 64px;
$h3FontSize: 30px;

$h2FontSizeLaptop: 42px;


$laptopSize: 1024px;
