$sectionSize: 35vw;

$primaryColor: #4F1195;
$primaryColorDark: #330B5B;
$accentColor: #FB6066;
$accentColorLighter: #e69497;
$accentColorDarker: #FF3442;

$thirdColor: #ffb71d;
$grayColor: #e8e8e8;

$h1FontSize: 80px;
$h2FontSize: 64px;
$h3FontSize: 48px;
$h4FontSize: 30px;
$h5FontSize: 22px;

$h2FontSizeLaptop: 42px;


$laptopSize: 1024px;
