.campaignVideo{
  $sizePadding: 40px;
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;

  padding: $sizePadding 0;

  $sizeTv: 50vw;
  img{
    width: $sizeTv;
    padding: $sizePadding 0;
    cursor: pointer;
  }

  .youtubeVideo{
    position: absolute;
    transform: translateX(-15%);
    top: calc(#{$sizePadding * 2} + 3.5vw);

    iframe{
      width: $sizeTv * .65;
      height: $sizeTv * .45;
      border-radius: 8px;
    }
  }
}
