

@font-face {
  font-family: Biotif;
  font-weight: normal;
  src: local("Biotif"), url("./assets/fonts/Biotif-Medium.ttf") format('truetype');
}

@font-face {
  font-family: Biotif;
  font-weight: 100;
  src: local('Biotif-Black'), url("./assets/fonts/Biotif-Black.ttf") format('truetype');
}

@font-face {
  font-family: Biotif;
  font-weight: bold;
  src: local('Biotif-Black'), url("./assets/fonts/Biotif-Bold.ttf") format('truetype');
}

body, html{
  margin: 0;
}

a, p, pre, span, h1, h2, h3, h4, h5{
  font-family: Biotif, sans-serif;
}
