@import "../../theme";


@keyframes flip-horizontal-top {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(360deg);
  }
}


.home {
  $heightCover: 600px;

  display: flex;
  flex-direction: column;
  align-items: center;

  > * {
    z-index: 3;
  }

  &:after {
    content: ' ';
    width: 100%;
    height: 100%;
    max-height: $heightCover;
    z-index: 1;
    position: absolute;
    background-image: url("../../assets/images/backgroundHome.png");
    background-size: cover;
  }

  .title {
    flex-grow: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    min-width: 500px;

    span {
      color: white;
      font-weight: 100;
      max-width: 280px;

      line-height: $h1FontSize *.6;
      font-size: $h1FontSize;
    }
  }

  .networks {
    flex-grow: 1;

    img {
      height: 36px;
      margin: 0 24px;

      &:hover {
        animation: flip-horizontal-top 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
      }
    }
  }

  min-height: $heightCover;
  overflow-y: hidden;
}
