@import "../../../theme";

.buttonPersonalized {
  position: relative;
  cursor: pointer;

  .backgroundButton {
    $radiusButton: 8px;

    position: relative;

    .wrapperButton {
      background-color: $accentColor;
      padding: 2px 0 16px 0;

      border-radius: $radiusButton;
      position: relative;

      .button {
        position: relative;
        color: white;
        background-color: $thirdColor;

        border-radius: $radiusButton;

        span {
          color: $primaryColor;
          font-weight: 100;
        }
      }
    }

    &.white:before {
      background-color: $grayColor;
    }

    &.primary:before {
      background-color: $primaryColorDark;
    }

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 90%;

      border-radius: $radiusButton;
    }
  }

  .pointerWrapper {
    position: absolute;

    img {
      height: 50px;
    }
  }

  &:hover .backgroundButton {
    transform: scale(1.01);
  }

  &.normal {
    .backgroundButton {
      .wrapperButton {
        .button {
          padding: 14px 24px 10px 24px;

          span {
            font-size: $h4FontSize;
          }
        }
      }

      &:before {
        top: 24px;
        left: 12px;
      }
    }

    .pointerWrapper{
      bottom: -25px;
      right: 12px;
    }

    &:hover .backgroundButton:before {
      top: 32px;
      left: 18px;
    }
  }

  &.big {
    .backgroundButton {
      .wrapperButton {
        .button {
          padding: 22px 42px 12px 42px;

          span {
            font-size: $h1FontSize;
            line-height: $h1FontSize * .9;
          }
        }
      }

      &:before {
        top: 32px;
        left: 16px;
      }
    }

    .pointerWrapper{
      bottom: 0;
      right: 70px;
    }

    &:hover .backgroundButton:before {
      top: 40px;
      left: 24px;
    }
  }
}
